.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.product-list {
  display: flex;
  /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
  /* gap: 20px; */
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
  flex-wrap: wrap;
}

.product-item {
  /* border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px; */
  flex: 1fr; 
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  

}

.product-item img {
  /* width: 100%; */
  height: 10em;
  object-fit: cover;
  margin : 0px auto;
}

.product-item h3 {
  margin-top: 10px;
}

.product-item p {
  font-size: 14px;
}





header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ddd;
}

.login-button {
  margin-left: 20px;
}

.login-button button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button button:hover {
  background-color: #444;
}

.buy-btn{

  border: 1px solid chartreuse;
    padding: 1em;
    border-radius: 1rem;
}


.buy-btn:hover{
background-color: green;
color: white;
}
