.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product h3 {
  margin-top: 10px;
}

.product p {
  font-size: 14px;
}



.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex-basis: 25%; /* Each item will take up 25% of the container width */
  padding: 10px;
  border: 1px solid #ccc;
}
